body, html {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
}

body.game {
    display: grid;
    grid-template-areas: 
    'left board right'
    'eval eval eval';

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto min-content;

    align-items: center;
    justify-items: center;

    @import "game.scss";
}

body.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @import "menu.scss";
}

*.hidden {
    display: none;
}